<!--admin用のジャンル一覧と削除機能部分-->
<% genres.each do |b| %>
  <div id="genre-<%= b.id %>" class="d-flex align-items-center m-1 border">
    <label class="m-1"><%= b.name %></label>
    <%= link_to genre_path(b.id), method: :delete, data: { confirm: t('defaults.are_you_sure') }, remote: true do %>
      <p class="btn btn-outline-danger my-auto ml-2" style="border-radius: 0;"><%= t('defaults.delete') %></p>
    <% end %>
  </div>
<% end %>