<!--アカウント登録ページとログインページの遷移-->
<%- if controller_name != 'sessions' %>
  <p><%= t('.already_have') %></p> <%= link_to t('.sign_in'), new_session_path(resource_name) %>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p><%= t('.not_have_yet') %></p> <%= link_to t('.sign_up'), new_registration_path(resource_name) %>
<% end %>



