<ul class="nav nav-tabs justify-content-center flex-nowrap my-2">
  <li class="nav-item mx-1 border">
    <%= link_to "投稿が新しい順", books_path(sort: 'updated_at_desc'), class: 'nav-link' %>
  </li>
  <li class="nav-item mx-1 border">
    <%= link_to "投稿が古い順", books_path(sort: 'updated_at_asc'), class: 'nav-link' %>
  </li>
  <li class="nav-item mx-1 border">
    <%= link_to "いいねが多い順", books_path(sort: 'favorited_desc'), class: 'nav-link' %>
  </li>
</ul>