<h3 class="text-center border py-3 mx-0 mt-n2">
  <%= t('.index_book') %>
</h3>
<div class="container-fuild mx-5 my-3">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-10 mx-auto">
      <%= render 'books/sort' %>

      <%= render 'books/index', books: @books %>
    </div>
  </div>
</div>