<h3 class="text-center p-3 mx-auto mt-n2 border">About Manga!</h3>
<ddiv class="container">
  <div class="row">
    <div class="col-md-5 text-center border">
      <p>みんな仲良く</p><br />
      <p>楽しく有意義に</p><br />
      <p>好きな漫画をおすすめしよう！!</p>
    </div>
    <div class="col-md-5 text-center border">
      <p>Get along with everyone</p><br />
      <p>Have fan and be meaningful</p><br />
      <p>Let's recommend your favorite MANGA!!</p>
    </div>
  </div>
</ddiv>
