@import '~bootstrap/scss/bootstrap';

/*******共通部分*******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafdff;
}

.row{
  margin-right: initial;
  margin-left: initial;
}
.border {
  border: 8px solid #000 !important;
}
#back_top {
  postion: fixed;
  right: 60px;
  bottom: 60px;
}
/***フラッシュメッセージ*****/
.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #dc3545;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice {
  color: #155724;
  background-color: #20c997;
  border-color: #28a745;
  display: flex;
  justify-content: center;
  align-items: center;
}
/********テーブル***********/
thead, tr {
  border-bottom: 8px solid #000;
}
/*********ヘッダー**********/
header {
  background-color: #fafdff;
}

/*********フッター**********/
footer {
  background-color: #fafdff;
  width: 100%;
  height: 180px;
}
.footer-nav {
  background-color: #fafdff;
}
