@import '~bootstrap/scss/bootstrap';

/*******共通部分*******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafdff;
  text-color: #000;
}

/*********ヘッダー********/
.h1 {
  font-size: 72px;

}
.border {
  border: 8px solid #000 !important;
}

/*********フッター*********/
footer {
  height: 200px;

}