<% if model.errors.any? %>
  <div id="error_explanation" class="row px-5 py-2 m-3 alert alert-danger border" role="alert">
    <h5 class="px-2 py-2 m-2 alert-heading">
      <%= I18n.t("errors.messages.not_saved", count: model.errors.count) %>
    </h5>
    <ul class="list-group mb-3">
      <% model.errors.full_messages.each do |message| %>
        <li class="mx-5"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>