<div class="container-fuild">
  <div class="row">
    <div class="col text-center p-2">footer</div>

    <div class="col-3 d-flex flex-column text-center m-2">
        <div class="border"><%= link_to "top_page", root_path %></div>
        <div class="border mt-n2"><%= link_to "about", about_path %></div>
    </div>
  </div>
</div>