<div class="container m-5">
  <div class="row">
    <div class="col py-3 px-2">Mangaer</div>

    <div class="col py-3 px-2">
      <%= link_to "top_page", root_path %><br>
      <%= link_to "about", about_path %>
    </div>
  </div>
</div>